body {
  background: #EBEBEB;
  color: #1A1818;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 22px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}